<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/7_Query_Optimization/1_Explain_Intro.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Explain & Optimization Intro

## Overview

### ü•Ö Analysis Goals

- **Plan Query Execution:** Use `EXPLAIN` to understand how PostgreSQL will execute the query, identifying potential inefficiencies like sequential scans or costly joins.  
- **Measure Actual Query Performance:** Use `EXPLAIN ANALYZE` to execute the query while collecting real performance metrics, comparing estimated vs. actual execution times for optimization.

### üìò Concepts Covered

- `EXPLAIN`
- `EXPLAIN ANALYZE`

[Source Documentation for Using Explain](https://www.postgresql.org/docs/17/using-explain.html)

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## EXPLAIN

### üìù¬†Notes

**`EXPLAIN`**  

- **EXPLAIN**: Displays the execution plan of a SQL query, showing how PostgreSQL will execute it.

- Syntax:  
  ```sql
  EXPLAIN 
  SELECT column 
  FROM table;
  ```
  
**`EXPLAIN ANALYZE`**: 
- **EXPLAIN ANALYZE**: Executes the query and provides actual execution times, row estimates, and other runtime details.
  ```sql
  EXPLAIN ANALYZE 
  SELECT column 
  FROM table;

  ```

- Helps with query optimization by showing:
  - Index usage
  - Join methods (`Nested Loop`, `Hash Join`, `Merge Join`)
  - Sequential vs. index scans
  - Estimated vs. actual row counts

- **Example Output** (simplified):
  ```
  Seq Scan on users  (cost=0.00..18.50 rows=850 width=64)
  ```
  - `Seq Scan`: PostgreSQL is doing a sequential scan (no index used).
  - `cost`: An arbitrary unit for cost (...basically made up units specific to PostgreSQL)
  - `rows`: Estimated number of rows.
  - `width`: Estimated row size in bytes.

- **Use Cases**:
  - Debugging slow queries
  - Checking if indexes are being used
  - Understanding query performance bottlenecks

### üîë Key Concepts
- **üìä Business Terms**: 
  - Query Performance: Speed of data retrieval
  - Execution Cost: Resources needed to run query
  - Data Processing: How database handles requests
- **üí° Why It Matters**: Optimizes complex customer revenue analysis
    - Reduces query execution time for large customer datasets
    - Lowers computational costs for frequent cohort analysis
    - Enables faster business decision making
    - Improves efficiency of revenue tracking systems

### üìà Analysis

- Understand how PostgreSQL plans to execute the query without running it, helping identify potential inefficiencies like sequential scans or costly joins.
- Execute the query while collecting actual performance metrics, allowing comparison between estimated and real execution times to optimize query performance.

> **‚ö†Ô∏è Note**: For the queries below the explanation is focused on explaining the results of the `EXPLAIN` plan.

### Quick Demo

#### EXPLAIN

In [3]:
%%sql

EXPLAIN 
SELECT *
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...

#### EXPLAIN ANALYZE

In [4]:
%%sql

EXPLAIN ANALYZE
SELECT *
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.108 ms
2                          Execution Time: 24.002 ms

What happens if we add a filter?

In [5]:
%%sql

EXPLAIN ANALYZE
SELECT *
FROM sales
WHERE orderdate >= '2024-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..5018.41 rows=10...
1          Filter: (orderdate >= '2024-01-01'::date)
2                     Rows Removed by Filter: 189742
3                            Planning Time: 0.159 ms
4                          Execution Time: 20.901 ms

#### Total Customer Revenue

`EXPLAIN ANALYZE`

1. Use `EXPLAIN ANALYZE` on a query to get the total net revenue by customer.
    - `Seq scan on sales`: Get all the rows needed from the sales table.
    - `HashAggregate`: Hash system to form aggregation.

In [6]:
%%sql

EXPLAIN ANALYZE
SELECT 
    customerkey,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
GROUP BY customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

                                          QUERY PLAN
0  HashAggregate  (cost=7017.14..7387.38 rows=370...
1                             Group Key: customerkey
2                   Batches: 1  Memory Usage: 4881kB
3    ->  Seq Scan on sales  (cost=0.00..4518.73 r...
4                            Planning Time: 0.094 ms
5                          Execution Time: 61.912 ms

2. Add a filter on `orderdate` to get all orders after 2024.
    - `Seq scan on sales`: Get all the rows needed from the sales table.
        - üîî`Filter`: Filters by the dates
    - `HashAggregate`: Hash system to form aggregation.

In [8]:
%%sql

EXPLAIN ANALYZE
SELECT 
    customerkey,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
WHERE orderdate >= '2024-01-01'
GROUP BY customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                                          QUERY PLAN
0  HashAggregate  (cost=5143.69..5233.47 rows=897...
1                             Group Key: customerkey
2                    Batches: 1  Memory Usage: 913kB
3    ->  Seq Scan on sales  (cost=0.00..5018.41 r...
4          Filter: (orderdate >= '2024-01-01'::date)
5                     Rows Removed by Filter: 189742
6                            Planning Time: 0.209 ms
7                          Execution Time: 27.828 ms

3. Alternatively you can view the `EXPLAIN` using `dbeaver` by selecting `Explain Execution Plan`. Then select what you want else you want to include e.g. `ANALYZE`, `VERBOSE`, etc. For this you don't need the `EXPLAIN` keyword.

    <img src="../Resources/images/7.1_explain_1.gif" alt="View Explain using dbeaver" style="width: 70%; height: auto;">

> **NOTE:** The results of this `EXPLAIN` are of another query, not the one shown in the video.

---

## Optimization Techniques

#### üî∞ Beginner (Fundamental Optimizations)
- üö´ Avoid `SELECT *`: Retrieve only necessary columns.
- üìâ Use `LIMIT` for Large Datasets: Improve performance on large queries.
- üõ† Use `WHERE` Instead of `HAVING`: Filter before aggregation for efficiency.

#### ‚ö° Intermediate (Query Structure & Execution Plan Optimizations)
- üìñ Use Query Execution Plans: Identify slow queries and optimize execution paths.
- üìå Minimize `GROUP BY` Usage: Avoid unnecessary aggregations.
- üîó Reduce Joins When Possible: Optimize relationships to prevent expensive joins.
- üìä Optimize `ORDER BY`: Use indexed columns for sorting.

#### üöÄ Advanced (Database-Level Optimizations)
- üß† Use Proper Data Types: Ensure numeric vs. string-based filtering is efficient.
- ‚ö° Use Proper Indexing: Speed up queries with strategic indexes.
- üóÉ Use Partitioning for Large Tables: Improve performance on large datasets.

> NOTE: We'll cover intermediate techniques in the next lesson

---

## üî∞ Beginner Techniques

### üìâ Use `LIMIT` for Large Datasets
- Improve performance on large queries.

In [5]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    orderkey,
    linenumber
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.046 ms
2                          Execution Time: 10.028 ms

In [6]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    orderkey,
    linenumber
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

4 rows affected.

                                          QUERY PLAN
0  Limit  (cost=0.00..0.23 rows=10 width=16) (act...
1    ->  Seq Scan on sales  (cost=0.00..4518.73 r...
2                            Planning Time: 0.030 ms
3                           Execution Time: 0.010 ms

#### üö´ Avoid `SELECT *`
- Retrieve only the necessary columns for a query.
- Note some databases may be more efficient at retrieving  this negating gains

In [7]:
%%sql

EXPLAIN ANALYZE
SELECT *
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.089 ms
2                           Execution Time: 7.336 ms

In [8]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    orderkey,
    linenumber
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.019 ms
2                           Execution Time: 9.481 ms

> #### Why is this query slower?
> PostgreSQL Uses a More Efficient Query Plan for `SELECT *`
> - If all columns are needed frequently, PostgreSQL might use a more optimized data retrieval strategy for `SELECT *`, such as a sequential scan (if no indexes are used).
> - If only some columns are selected, PostgreSQL might use an index scan or another method that requires additional lookups.

### üõ† Use `WHERE` Instead of `HAVING`
- Filter before aggregation for efficiency.

In [9]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
GROUP BY
    customerkey,
    orderdate
HAVING SUM(quantity * netprice * exchangerate) > 1000

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                                          QUERY PLAN
0  HashAggregate  (cost=7516.82..7979.62 rows=123...
1                  Group Key: customerkey, orderdate
2    Filter: (sum((((quantity)::double precision ...
3    Batches: 5  Memory Usage: 8241kB  Disk Usage...
4                      Rows Removed by Filter: 35607
5    ->  Seq Scan on sales  (cost=0.00..4518.73 r...
6                            Planning Time: 0.229 ms
7                          Execution Time: 82.065 ms

In [82]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
WHERE customerkey < 1000
GROUP BY
    customerkey,
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

16 rows affected.

                                           QUERY PLAN
0   Finalize GroupAggregate  (cost=4990.18..4993.9...
1                   Group Key: customerkey, orderdate
2     ->  Gather Merge  (cost=4990.18..4993.40 row...
3                                  Workers Planned: 1
4                                 Workers Launched: 1
5           ->  Partial GroupAggregate  (cost=3990...
6                   Group Key: customerkey, orderdate
7                 ->  Sort  (cost=3990.17..3990.23...
8                       Sort Key: customerkey, ord...
9                       Sort Method: quicksort  Me...
10                      Worker 0:  Sort Method: qu...
11                      ->  Parallel Seq Scan on s...
12                            Filter: (customerkey...
13                            Rows Removed by Filt...
14                            Planning Time: 0.207 ms
15                          Execution Time: 22.442 ms